* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: silver;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-image: url("../assets/img/prawn-nebula-1638085867.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  text-align: center;
  min-height: 20vh;
  color: silver;
}
.intro h1 {
  font-size: 5rem;
  padding: 1rem;
}
.intro p {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}
.main {
  min-height: 40vh;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  background-color: black;
}
.main label {
  font-size: 1.25rem;
}
.ui {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: .5rem;
}
.results {
  display: none;
  min-height: 60vh;
  max-width: 50vw;
  text-align: center;
  padding: 2rem;
  margin: auto;
  background-color: black;
}
.mercury, .venus, .mars, .jupiter {
  margin: 1rem;
  padding: 1.5rem;
}
.neonText {
  color: #fff;
  text-shadow:
    0 0 21px #fff,
    0 0 42px #AAF0D1,
    0 0 82px #AAF0D1,
    0 0 92px #AAF0D1,
    0 0 102px #AAF0D1,
    0 0 151px #AAF0D1;
}
.neonTextBlizz {
  color: silver;
  text-shadow:
    0 0 21px #50BFE6,
    0 0 42px #50BFE6,
    0 0 82px #50BFE6,
    0 0 92px #50BFE6,
    0 0 102px #50BFE6,
    0 0 151px #50BFE6;
}
.neonTextRoja {
  color: #fff;
  text-shadow:
    0 0 21px #FF355E,
    0 0 42px #FF355E,
    0 0 82px #FF355E,
    0 0 92px #FF355E,
    0 0 102px #FF355E,
    0 0 151px #FF355E;
}
.border {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem  #AAF0D1,
              0 0 0.8rem #AAF0D1,
              0 0 2.8rem #AAF0D1,
              inset 0 0 1.3rem #AAF0D1;
}
footer {
  min-height: 10vh;
}